<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi5-2D-S2yq_eG5i9ss_gi7s2zQYjONhU</string>
	<key>GCM_SENDER_ID</key>
	<string>536472439577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tharushinirmani.fruitmate</string>
	<key>PROJECT_ID</key>
	<string>fruitmate-db-b4a62</string>
	<key>STORAGE_BUCKET</key>
	<string>fruitmate-db-b4a62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536472439577:ios:615c38c15c328451d71388</string>
</dict>
</plist>